@using Faltynek.Eshop.Web.Areas.Admin.Controllers;
@model CarouselItem
@{
    ViewData["Title"] = "Carousel Edit";
}
<h1>@ViewData["Title"]</h1>

<p>This page edits Carousel Item</p>

@{
    ViewBag.Action = nameof(CarouselController.Edit);
}

<partial name="CreateEditForm" model="Model" />